//# Filename:	delete.jade
//# Author:	    Gio Mikee Plata Justiniano iaw1128309
//# Date:		02/03/2017
//# License:	This is free software, licensed under the GNU General Public License v3.
//# 			See http://www.gnu.org/licenses/gpl.html for more information.

doctype html
html
    head
        title Eliminar peliculas

        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    body
        h1  Eliminar peliculas

        div
            strong #{error}
        if !deleted
            form.form-horizontal(action='/delete', method='post')
                div
                    strong Seleccionar pelicula a eliminar
                    select(name="codpeli")
                        each val,key in pelis
                            option(value="#{val.Codpeli}") #{val.Titol}

                button.btn.btn-danger Eliminar
        div
            strong #{deleted}
        a.btn.btn-default(href="/index") Volver al indice

