//# Filename:	index.jade
//# Author:	    Gio Mikee Plata Justiniano iaw1128309
//# Date:		02/03/2017
//# License:	This is free software, licensed under the GNU General Public License v3.
//# 			See http://www.gnu.org/licenses/gpl.html for more information.

doctype html
html
    head
        title Inicio

        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    body
        h1  Index

        div.container
            div.row
                div.col-xs-3
                div.col-xs-6.text-center
                    div
                        a.btn.btn-info(href="list") List
                    div
                        a.btn.btn-primary(href="add") Add
                    div
                        a.btn.btn-warning(href="update") Update
                    div
                        a.btn.btn-danger(href="delete") Delete
                    div
                        a.btn.btn-success(href="rent") Rent
                    div
                        a.btn.btn-success(href="return") Return
                div.col-xs-3
