//# Filename:	mostrarPelis.jade
//# Author:	    Gio Mikee Plata Justiniano iaw1128309
//# Date:		02/03/2017
//# License:	This is free software, licensed under the GNU General Public License v3.
//# 			See http://www.gnu.org/licenses/gpl.html for more information.
doctype html
html(lang="es")
    head
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

        title Listar pelicules
        h1  #{title}
        h2 Llistat de totes les pel.licules
    body
        a.btn.btn-default(href="/index") Volver al indice
        h3 Mostrat peli a peli
        each val,key in pelis
            h4 Index #{key}
            p #{val.__id}
            p #{val.Titol}
            p #{val.Sinopsi}