//# Filename:	return.jade
//# Author:	    Gio Mikee Plata Justiniano iaw1128309
//# Date:		06/03/2017
//# License:	This is free software, licensed under the GNU General Public License v3.
//# 			See http://www.gnu.org/licenses/gpl.html for more information.

doctype html
html
    head
        title Devolver pelicula

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    body
        h1  Devolver pelicula

        div
            strong #{error}

        if pelis
            form.form-horizontal(action="/get_socis_peli", method="post")
                div
                    strong Pelicula a devolver
                    select(name="id")
                        each val, key in pelis
                            option(value="#{val._id}") #{val.Titol}
                div
                    button.btn.btn-info(type="submit", value="submit") Siguiente

        if socis
            form.form-horizontal(action="/return", method="post")
                input(type="hidden", name="peliId", value="#{peliId}")
                div
                   strong Devuelto por el usuario:
                   select(name="soci")
                        each val, key in socis
                            option(value="#{val.Soci}") #{val.Soci}
                div
                    button.btn.btn-success(type="submit", value="submit") Devolver

        div
            strong #{returned}
        a.btn.btn-default(href="/index") Volver al indice
