//# Filename:	update.jade
//# Author:	    Gio Mikee Plata Justiniano iaw1128309
//# Date:		02/03/2017
//# License:	This is free software, licensed under the GNU General Public License v3.
//# 			See http://www.gnu.org/licenses/gpl.html for more information.

doctype html
html
    head
        title Editar pelicula

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    body
        h1  Editar pelicula

        div
            strong #{error}

        if !peliEdit && !edited
            form.form-horizontal(action='/get_peli_update', method='post')
                div
                    strong Seleccionar pelicula a editar
                    select(name="codpeli")
                        each val,key in pelis
                            option(value="#{val.Codpeli}") #{val.Titol}
                div
                    button.btn.btn-primary Seleccionar

        else if peliEdit
            form.form-horizontal(action='/update', method='post')
                input(type='hidden', name='id' value="#{peliEdit[0]._id}")
                div
                    strong Titulo
                    input.form-control(type='text', name='titol', value="#{peliEdit[0].Titol}")

                div
                    strong Sinopsi
                    textarea.form-control(name='sinopsi') #{peliEdit[0].Sinopsi}
                div
                    button.btn.btn-warning Editar
        div
            strong #{edited}
        a.btn.btn-default(href="/index") Volver al indice
