doctype html
html(lang="es")
head
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

body
  div(class="container")
    h1(class="text-center") #{accio} LA PELICULA 
    form(class="form-inline" action='#{action}', method='post')
      h2(class="text-center")  #{accio} una pel.licula
      br
      
      if (typeof(pelis) === "object")
        
        div(class="form-group")
          label(class='control-label text-uppercase') Codpeli: #{pelis.Codpeli}
          input(class='form-control' type='hidden' name='Codpeli' value='#{pelis.Codpeli}')
          br
          br
        div
          label(class='control-label text-uppercase') Titol:
          br
          input(class='form-control' name='Titol' value='#{pelis.Titol}')
          br
          br
        div
          label(class="control-label text-uppercase") Sinopsi:
          br
          textarea(class="form-control" name='Sinopsi', rows='5', cols='30') #{pelis.Sinopsi}
        div
          label(class='control-label text-uppercase') dvds:
          br
          input(class='form-control' name='dvds' value='#{pelis.dvds}')
          br
          br

      else 

        div
          label(class='control-label text-uppercase') Codpeli:
          br
          input(type='number' name='Codpeli')
          br
          br
        div
          label(class="control-label text-uppercase") Titol:
          br
          input(name='Titol')
          br
          br
        div
          label(class="control-label text-uppercase") Sinopsi:
          br
          textarea(class="form-control" name='Sinopsi', rows='5', cols='30')
      br
      div
        button(class="btn btn-success text-uppercase") #{accio}
      br
      p  #[a(class="btn btn-primary" href="/llistarPelis") Mostrar totes les pelis]
