doctype html
body
  form(action='#{action}', method='post')
    h2 #{accio} una pel.licula
    br
    p Escull el títol que vols retornar i posa el teu nom

    div
      label Películes:
      br
      select(name='Codpeli')
        each peli, key in pelis
          option(value='#{peli.Codpeli}') #{peli.Titol}
      br
      label Nom de soci: 
      input(type="text" name="soci")
    
    div
      button Retornar

        
  a(href="/") tornar a l'índex