doctype html
html(lang="es")
head
	h2 #{title}
body

	p #{pelis._id}
	p Codpeli: #{pelis.Codpeli}
	p #{pelis.Titol}
	p #{pelis.Sinopsi}
	p #{pelis.dvds}
	p #{pelis.dvdsPrestats}

	if pelis.dvds > pelis.dvdsPrestats
		form(action='llogarPeli' method='post')
			input(type='hidden' value='#{pelis.Codpeli}' name='Codpeli')
			h4 Pel.licula disponible, premi el botó per llogarla
			p nom:
			input(type="text" name="soci")
			button Llogar

a(href="/") tornar a l'índex