doctype html
html(lang="es")
head
	h2 #{title}
body

	each val, key in pelis
		h4 Títol: #{val._id.Titol}
		p ID: #{val._id._id}
		p Codpeli: #{val._id.CodPeli}
		p Sinopsi: #{val._id.Sinopsi}
		p Nombre de prestecs: #{val.size}
		
	a(href="/") tornar a l'índex