
doctype html

html(lang="es")
head
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


	h2(class="text-center") Llistat de totes les pel.licules
body
div(class="container")
	h3 Mostrat peli 
	p 
		b Codi Peli: 
		|#{pelis.Codpeli}
	p 
		b Titol: 
		|#{pelis.Titol}
	p 
		b Sinopsi: 
		|#{pelis.Sinopsi}
	p
		b Dvds:
		|#{pelis.dvds}
	p
		b Dvds Prestats:
		|#{pelis.dvdsPrestats}

	form(class="form-inline" action='/rent', method='get')
		label CodPeli:
		input(name='Codpeli' value='#{pelis.Codpeli}')
		label Soci:
		input(name='Soci')
		button(class="btn btn-success") Alquilar
	
	form(class="form-inline" action='/return', method='get')
		label CodPeli:
		input(name='Codpeli' value='#{pelis.Codpeli}')
		label Soci:
		input(name='Soci')
		button(class="btn btn-danger") Tornar
		
	p  #[a(class="btn btn-success" href="/modificarPeli/#{pelis.Codpeli}") Modificar Peli]
	p  #[a(class="btn btn-danger" href="/esborrarPeli/#{pelis.Codpeli}") Esborrar Peli]
	p  #[a(class="btn btn-primary" href="/llistarPelis") Mostrar totes les pelis]
	p  #[a(class="btn btn-warning" href="/altaPeli") Afegir una peli]

p  #[a(class="btn btn-danger" href="/logout") Logout]