doctype html
html(lang="es")
head
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	h2(class="text-center") Llistat de totes les pel.licules
body
div(class="container")
	p  #[a(class="btn btn-warning" href="/altaPeli") Afegir una peli]
	
	h3 Mostrat peli a peli
	each peli in pelis
		p 
			b Codi Peli: 
			|#{peli.Codpeli}
		p  
			b Titol: 
			|#{peli.Titol}
		p 
			b Sinopsi: 
			|#[a( class="btn btn-primary" href="/llistarPelis/#{peli.Codpeli}") Mostrar Sinopsi]
		br
		p  #[a( class="btn btn-danger" href="/esborrarPeli/#{peli.Codpeli}") Esborrar]
		br


p  #[a(class="btn btn-danger" href="/logout") Logout]