doctype html
html(lang="es")
head
	h2 sdfgdsgfsgfdhgerygftdujhu7yhig7r67eytedsjk
body
	h3 Mostrat com a vector d'objectes gdfsgfdsgfd
	p #{pelis}
	p ----------------------------------------------------------------------
	p ----------------------------------------------------------------------
	h3 Mostrar peli a peli
	each val, key in pelis
		h4 Index #{key}
		p #{val._id}
		p #{val.Titol}
		p #{val.Sinopsi}
		p Versió #{val.__v}