<http>
<head>
	<meta http-equiv="cache-control" content="no-cache">
	<title>json Gimnastes</title>
	<style type="text/css">
		.divwrapper{
			position:absolute;
			width:90%;				
			left:5%;
			background-color:wheat;
		}
		.divmitad{
			float:left;
			width:50%;
		}
		.divizda{
			background-color:grey;
		}
		.divdcha{
			background-color:teal;
		}
	</style>
</head>
<body onload="ini()">
	<div class="divwrapper">
		<div class="divmitad divizda" id="tabla">
			<!--Leer e imprimir tabla gym.xml-->	
			w		
		</div>
		<div class="divmitad divdcha">
			<form name="formulari" method="POST" action="guardar_gym.php" >
				Editar registro <select id="fnom" name="fnom" onchange="llegir_gimnasta()"></select>
				<br>Afegir nova gimnasta.<br>
				Nom: <input type="text" id="nom" name="nom"><br>
				Club:<input type="text" id="club" name="club"><br>
				<br>
				Barra:<input type="text" id="barra" name="barra"><br>
				Asimetriques:<input type="text" id="asimetriques" name="asimetriques"><br>
				Terra:<input type="text" id="terra" name="terra"><br>
				Potro:<input type="text" id="potro" name="potro"><br>				
				<input type="reset" value="Clear">
				<input type="submit" value="Save" onclick="ini()">
				
				<!-- Edicion -->										
				<input type="button" value="Modificar" onclick="gravar_gimnasta()"><br>
				<input type="text" name="aux" id="aux">		
				
			</form>
		</div>
	</div>
</body>
</http>
