<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" />
</head>
<body>
	<h1 th:text="#{application.title}"></h1>
	<p>time: <span th:text="${serverTime}">tydrthdrhfgn</span></p>

	<form action="#" th:action="@{/resultat}" th:object="${person}" method="post">
	<h3 th:text="#{new}"></h3>
		<table>
			<tr>
				<td><label th:text="#{nom}"></label></td>
				<td>
					<input type="text" name="Campo_Nom" id="Campo_Nom" th:field="*{nom}" />
				</td>
			</tr>
			<tr>
				<td><label th:text="#{cognoms}">Cognoms:</label></td>
				<td>
					<input type="text" name="Campo_Cognoms" id="Campo_Cognoms" th:field="*{cognoms}" />
				</td>
			</tr>
			<tr>
				<td><label th:text="#{naixement}">Data de naixement:</label></td>
				<td>
					<input type="text" name="Campo_Edat" id="Campo_Edat" th:field="*{naixement}" />
				</td>
			</tr>
			<tr>
				<td><label th:text="#{home}">home</label></td>
				<td>
					<input type="radio" value="M" name="Campo_Sexe" id="Campo_Sexe" th:field="*{sexe}" />
				</td>
				<td><label th:text="#{dona}">dona</label></td>
				<td>
					<input type="radio" value="F" name="Campo_Sexe" id="Campo_Sexe" th:field="*{sexe}" />
				</td>
			</tr>
			<tr>
				<td><label th:text="#{carnet}">Carnet de conduir:</label></td>
				<td>
					<input type="checkbox" value="true" name="isCarnet" id="isCarnet" th:field="*{isCarnet}" />
				</td>
			</tr>
			<tr>
				<td>
					<fieldset>
						<legend>Idiomes</legend>
						<div th:each="item : ${idiomes}">
						    <input type="checkbox" th:field="*{idiomes}" th:value="${item}" />
						    <label th:text="${item}"></label>
						</div>
					</fieldset>
				</td>
			</tr>
			<tr>
				<td>
					<button type="submit" class="btn btn-primary" th:text="#{ok}"></button>
				</td>
			</tr>
		</table>
		<ul>
			<li th:each="err : ${#fields.errors('*')}" th:text="${err}">error</li>
	
		</ul>
	</form>
	
	<div th:include="templates/footer :: peu"></div>
</body>
</html>