<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<h1 th:text="#{application.title}"></h1>
		<table>
			<tr>
				<td><label th:text="#{nom}">nom:</label></td>
				<td>
					<span th:text="${person.nom}"></span>
				</td>
			</tr>
			<tr>
				<td><label th:text="#{cognoms}">cognoms:</label></td>
				<td>
					<span th:text="${person.cognoms}"></span>
				</td>
			</tr>
			<tr>
				<td><label th:text="#{edat}">edat:</label></td>
				<td>
					<span th:text="${person.edat}"></span>
				</td>
			</tr>
			<tr>
				<td><label th:text="#{sexe}">sexe:</label></td>
				<td>
					<span th:text="${person.sexe}"></span>
				</td>
			</tr>
			<tr>
				<td><label th:text="#{carnet}">carnet:</label></td>
				<td>
					<span th:text="${person.isCarnet}"></span>
				</td>
			</tr>
			<tr>
				<td><label th:text="#{idiomes}">idiomes:</label></td>
				<td>
					<span th:text="${person.idiomes}"></span>
				</td>
			</tr>
		</table>
		
	<div th:include="templates/footer :: peu"></div>
</body>
</html>