doctype html
html
  head
    include external
    script.
      var test = JSON.stringify(#{codPelis});
      console.log(#{codPelis});
    title #{title}
  body
    include menu
    .container.well
      - if (typeof(error) !== 'undefined'){
      .alert.alert-success
        a(href="#" class="close" data-dismiss="alert" aria-label="close") x
        span #{error}
      -}
      form(action="/update" method="post")
        .form-group
          label(for="codpeli") Codpeli:
          select.form-control(type="number" id="codpeli" name="codpeli")
            each val in codPelis
              option #{val.Codpeli}
        .form-group
          label(for="titol") Titol:
          input.form-control(type="text" id="titol" name="titol" required)
        .form-group
          label(for="sinopsi") Sinopsi:
          textarea.form-control(placeholder="" id="sinopsi" name="sinopsi" required)
        input.btn.btn-success(type="submit" value="Modificar pelicula")
