doctype html
html
  head
    include external
    title #{title}
  body
    include menu
    .container.well
      - if (typeof(error) !== 'undefined'){
      .alert.alert-success
        a(href="#" class="close" data-dismiss="alert" aria-label="close") x
        span #{error}
      -}
      form(action="/delete" method="post")
        .form-group
          label(for="codpeli") Codpeli:
          select.form-control(type="number" id="codpeli" name="codpeli")
            each val in pelicules
              option(value="#{val.Codpeli}") #{val.Codpeli} - #{val.Titol}
        input.btn.btn-danger(type="submit" value="Eliminar pelicula")
