doctype html
html
  head
    include external
    title #{title}
  body
    include menu
    .container.well
      - if (typeof(codpeli) !== 'undefined'){
        .alert.alert-danger.alert-dismissable
          a(href="#" class="close" data-dismiss="alert" aria-label="close") x
          span Ya existe la pelicula con el código #{codpeli}
      -}
      - if (typeof(pelicula) !== 'undefined'){
        .alert.alert-success
          span Pelicula añadida correctamente
      -}
      form(action="/add" method="post")
        .form-group
          label(for="codpeli") Codpeli:
          input.form-control(type="number" id="codpeli" name="codpeli" min="1" required)
        .form-group
          label(for="titol") Titol:
          input.form-control(type="text" id="titol" name="titol" required)
        .form-group
          label(for="sinopsi") Sinopsi:
          textarea.form-control(placeholder="" id="sinopsi" name="sinopsi" required)
        input.btn.btn-default(type="submit" value="Crear pelicula")
