doctype html
html
  head
    include external
    title #{title}
  body
    include menu
    .container.well
      p
        a.btn.btn-success(href="/add") Añadir
      p
        a.btn.btn-primary(href="/list") Listar
      p
        a.btn.btn-primary(href="/list/1") Ver pelicula 1
      p
        a.btn.btn-warning(href="/update") Modificar
      p
        a.btn.btn-danger(href="/delete") Delete
