nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            a.navbar-brand(href="/") Videoclub
        .nav.navbar-nav
            li
                a(href="/list") Ver peliculas
            li
                a(href="/list/1") Ver 1 pelicula
            li
                a(href="/update") Modificar pelicula
            li
                a(href="/delete") Eliminar pelicula

