doctype html
html
  head
    include external
    title #{title}
  body
    include menu
    .container.well
      h3 Mostrant peli a peli
      each val, key in pelis
        table.table
          tr
            th Codpeli
            th Titol
            th Sinopsi
          tr
            td #{val.Codpeli}
            td #{val.Titol}
            td #{val.Sinopsi}
