doctype html
html
  head
    include external
    title #{title}
  body
    include menu
    .container.well
      - if (typeof(error) !== 'undefined'){
      .alert.alert-danger.alert-dismissable
        a(href="#" class="close" data-dismiss="alert" aria-label="close") x
        span #{error}
      -} else {
      h2 Pelicula #{peli[0].Titol}
          h3 Mostrant peli a peli
          each val, key in peli
              table.table
                  tr
                      th Codpeli
                      th Titol
                      th Sinopsi
                  tr
                      td #{val.Codpeli}
                      td #{val.Titol}
                      td #{val.Sinopsi}
      -}
