
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100vw;
  height: 100vh; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          background-image: url(../img/nfimg/slaveryCover.jpg);
          background-size: cover;
}
.site-wrapper-inner {
    position: relative;
    top: 50px;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}
.inner.cover .cover-heading{
  color:#FFFFFF;
  text-shadow: 0px 5px 1px #000000; 
}


.inner.cover .lead{
  color: #e8e8e3;
    font-size: 20px;
  text-shadow: 0px 5px 1px #000000; 
}
.inner.cover .lead a{
  color:auto;
  text-shadow: none;
}
/* Padding for spacing */
.inner {
  padding: 0 30px;
}


@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */

  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
