<head>
<style>
.container {
	background-color: lightblue;
	display: flex;
	height: 150px;
	flex-flow: wrap;/*
	align-content: space-between;
	justify-content: space-between;*/
}

#dos {
	align-items: flex-end;
	justify-content: flex-end;
}

#tres {
	align-items: center;
	justify-content: center;
}

#cuatro {
	align-items: flex-start;
	justify-content: flex-end;
}


#cinco {
	flex-flow: column;
	align-items: flex-start;
	justify-content: center;
}

#seis {
	flex-flow: column;
	align-items: center;
	justify-content: flex-start;
}

#siete {
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

#ocho {
	flex-flow: wrap;/*
	align-items: center;
	justify-content: center;*/
}

#nueve {
	flex-flow: column wrap;
	align-items: center;
	justify-content: flex-end;
}

#diez {
	flex-flow: column wrap;
	align-items: flex-start;
	justify-content: flex-start;
}

#once {
	flex-flow: wrap;
	align-items: flex-start;
	justify-content: center;
}

.item{
	background-color: lightseagreen;
	width: 140px;
	margin: 10px;
}

.containerwrap{
	background-color: lightblue;
	display: flex;
	height: 150px;
	max-width: 550px;
}

</style>
</head>

<body>
<h1>Exercici 1</h1>
<div class="container">
	<div class="item">item1</div>
	<div class="item">item2</div>
	<div class="item">item3</div>
</div>
	

<h1>Exercici 2</h1>
<div class="container" id="dos">
	<div class="item">item1</div>
	<div class="item">item2</div>
	<div class="item">item3</div>
</div>


<h1>Exercici 3</h1>
<div class="container" id="tres">
	<div class="item">item1</div>
	<div class="item">item2</div>
	<div class="item">item3</div>
</div>


<h1>Exercici 4</h1>
<div class="container" id="cuatro">
	<div class="item">item1</div>
	<div class="item">item2</div>
	<div class="item">item3</div>
</div>


<h1>Exercici 5</h1>
<div class="container" id="cinco">
	<div class="item">item1</div>
	<div class="item">item2</div>
	<div class="item">item3</div>
</div>


<h1>Exercici 6</h1>
<div class="container" id="seis">
	<div class="item">item1</div>
	<div class="item">item2</div>
	<div class="item">item3</div>
</div>


<h1>Exercici 7</h1>
<div class="container" id="siete">
	<div class="item">item1</div>
	<div class="item">item2</div>
	<div class="item">item3</div>
</div>


<h1>Exercici 8</h1>
<div class="containerwrap" id="ocho">
	<div class="item">item1</div>
	<div class="item">item2</div>
	<div class="item">item3</div>
	<div class="item">item4</div>
	<div class="item">item5</div>
	<div class="item">item6</div>
</div>


<h1>Exercici 9</h1>
<div class="containerwrap" id="nueve">
	<div class="item">item1</div>
	<div class="item">item2</div>
	<div class="item">item3</div>
	<div class="item">item4</div>
	<div class="item">item5</div>
	<div class="item">item6</div>
</div>


<h1>Exercici 10</h1>
<div class="containerwrap" id="diez">
	<div class="item">item1</div>
	<div class="item">item2</div>
	<div class="item">item3</div>
	<div class="item">item4</div>
	<div class="item">item5</div>
	<div class="item">item6</div>
</div>

<h1>Exercici 11</h1>
<div class="containerwrap" id="once">
	<div class="item">item1</div>
	<div class="item">item2</div>
	<div class="item">item3</div>
	<div class="item">item4</div>
	<div class="item">item5</div>
	<div class="item">item6</div>
</div>