doctype html
body
  form(action='#{action}', method='post')
    h2 #{accio} una pel.licula
    br
    p Escull un títol i consulta la disponibilitat
    div
      label Películes:
      br
      select(name='Codpeli')
        each peli, key in pelis
          option(value='#{peli.Codpeli}') #{peli.Titol}
    
    div
      button Mirar disponibilitat

        
  a(href="/") tornar a l'índex