doctype html
body
  form(action='#{action}', method='post')
    h2 #{accio} una pel.licula
    br
    div
      label Codpeli:
      br
      input(type='number' name='Codpeli')
    div
      label Titol:
      br
      input(name='Titol')
    div
      label Sinopsi:
      br
      textarea(name='Sinopsi', rows='5', cols='30')

    div
      button Enviar

        
  a(href="/") tornar a l'índex