doctype html
body
  form(action='/loginPost', method='post')
    h2 Login
    br
    div
      label User:
      br
      input(name='Codpeli')
    div
      label Password:
      br
      input(name='Titol')

    div
      button Enviar

