doctype html
html(lang="es")
head
	h2 #{title}
body

	unless (isDelete)
		h4 Index #{key}
		p #{pelis._id}
		p Codpeli: #{pelis.Codpeli}
		p #{pelis.Titol}
		p #{pelis.Sinopsi}
		p Versió #{pelis.__v}
		p dvds #{pelis.dvds}
		p dvdsPrestats #{pelis.dvdsPrestats}

	
	a(href="/") tornar a l'índex