doctype html
html(lang="es")
head
	h2 #{title}
body
	h3 Mostrar peli a peli 

	each val, key in pelis
		h4 Index #{key}
		p #{val._id}
		p Codpeli: #{val.Codpeli}
		p #{val.Titol}
		p #{val.Sinopsi}
		p Versió #{val.__v}

		
	a(href="/") tornar a l'índex