doctype html
head
body
	h1 videoclub
	ul
		li 
			a(href="/list") Llistar totes les pelis
		li 
			a(href="/add") Donar d'alta una peli
		li
			a(href="/update") Modificar una peli
		li
			a(href="/delete") Donar de baixa una peli
		li
			a(href="/rent") Llogar una peli
		li
			a(href="/return") Retornar una peli
