﻿
/*Para el label de error*/    
input.error { border: 1px dotted red; }
label.error { white-space: nowrap;color: #ffffff;position:absolute;padding-left:5px;background:red;padding:5px;box-sizing:border-box;border-radius: 3px;box-shadow: 2px 2px 3px #000000;} 