<!DOCTYPE html>
<html>
<head>
<title>Error Page</title>

</head>
<body onload='document.f.username.focus();'>

<h3>There was some error</h3>
<h4><a th:href="@{/index}">Return to index</a></h4>

</body>
</html>