<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h1>HOME PROTECTED</h1>

<span th:text="${name}">XXX</span>
<a th:href="@{/user}">Usuario</a>
<a th:href="@{/admin}">Admin</a>
<!-- <span th:text="${@userServiceImpl.userMethod()}"></span> -->
<!-- <span th:text="${@userServiceImpl.adminMethod()}"></span> -->
<a th:href="@{/logout}">Logout</a>

</body>
</html>