<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<h1>INDEX</h1>
	<span th:text="${serverTime}" />
	<br/>
	<div th:if="${param.logout != null}">
		<span>You have been successfully disconnected</span>
	</div>
	<a th:href="@{/home}">Login</a>
</body>
</html>