/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*############### ELEMENTOS HTML  ########################### */
body {
	margin: 0em;
	min-width: 400px;
	background-color: white;
	color: #666;
	font-family: Arial,Helvetica,Verdana,sans-serif;
}	

div#w960 {
    margin: 0em;

	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

a:link {
	color: #0099FF;
    text-decoration: none;
}

a:hover {
	color: #ee7f00;
	text-decoration: underline;
}

a:visited {
	color: #0099FF;
	text-decoration: none;
}


h1 {
   font-size: 200%;
   font-weight: bold;
   font-family: Helvetica, Arial, sans-serif;
   color: orange;
   margin-bottom:0.5em;

}

h2 {
   font-size: 250%;
   margin-bottom: 0.3em;
   margin-top: 0.6em;
  color: orange;
}


h3 {
	margin-bottom: 0.3em;
}

p {
  margin-bottom: 0.7em;
  line-height: 1.4em;
  color: #666;
}

strong { color: #444; }

label {
	display: block;
	width: 12em;
	float:left;
}

input {
	padding: 0.1em;
	margin: 1px;
}

.button {
		 font-size: 130%;
		 padding: 0.1em;
		 color: black;
}

.error {
	    display: inline;
	    font-size: 80%;
	    float: none;
	    padding-left: 0.5em;
	    text-decoration: italic;
	    color: red;}

.errorMsg {
		   padding: 1em;
		   color: red;
		   margin-right:1em;
		   border: 1px solid red;
		   background: #FFCCCC;
}

.okMsg {
		   padding: 1em;
		   color: green;
		   border: 1px solid green;
		   background: #CCFFCC;
}

.msg {
	  font-size: 120%;
	  }
.redhidden {
		   color: red;
		   display: none; 
}

.greenhidden {
			  color: green;
			  display: none;
			  }
			  
			  
.gris {
	color: grey;
}			  
a.gris { 
	color: #555;
	text-decoration: none;
	}
a.gris:link {color: #999;
}
a.gris:visited { color: #999;}
	 
small {
	   font-size: 75%;
	   color: grey;
}

fieldset{
  border: 1px solid #ead2e7;
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 2em;
}



img {
	  border: 0px;	  
}

ul.std {
	padding-left: 3em;
	list-style-type: square;
}

ul.std li {
 margin-bottom: 1em;
}

/* ---------------------- HEADER ----------------------------- */

header, #header { 
	padding-bottom: 0.5em;
}

header h1, header h1 a:hover,  header h1 a:visited, header h1 a:link,
#header h1, #header h1 a:hover, #header h1 a:visited, #header h1 a:link { 
	margin: 0px;
	padding: 0px;
	font-family: 'Helvetica Neue';
	font-weight: bold;
	font-size: 140px;
	color: #E0E0E0;
	text-shadow: 1px 1px #CCC;
	line-height: 0.8;
	text-decoration: none;
}



header h2, #header h2 {
 margin: 0px;
 padding-bottom: 0.2em;
 font-size: 80%;
 color: #E0E0E0;
 text-shadow: 0.05em 0.1em #CCC;
}
/* ----------- LANG NAV ---------------- */

#lang-nav {
  float: right;
  padding: 5px;
  font-size: 80%;
  min-width: 100px; 
}

#lang-nav strong {
	 color: black;

}

#lang-nav ul {	
}


#lang-nav li {
 display: inline;
 margin: 0.1em 0.1em;
 border-right: 1px solid #ddd;
 margin-left: 0.2em;
 margin-right: 0.2em;
 padding-right: 0.2em;
 
 
}

#lang-nav li:last-child {
	border-right: 0px;

}

/* ------- MAIN NAV ------*/

#main-nav {
	float:left;
	font-family: 'Helvetica';
	font-size: 200%;
	font-weight: bold;
	padding-top: 0em;
	margin-bottom: 0em;
	width: 35%;

}
#main-nav .active {
	color: orange;
	text-shadow: 1px 1px 0.3em #DDD, 1px 1px yellow;
}

#main-nav a:link, #main-nav a:visited {
	color: white;
	text-decoration: none;
	text-shadow: 1px 1px 0.3em #DDD, 1px 1px grey;
	/*color: #0099FF;*/
	
}

#main-nav a:hover {
	color: #0099FF;
	text-decoration: none;
	text-shadow: 1px 1px 0.3em #DDD, 1px 1px #0088CC;
	-webkit-transition: color .25s linear;
	-moz-transition: color 0.25 linear;
	transition: color .25s linear;
}

#main-nav .nav-active {
	color: orange;
}


#main-nav ul {
}

#main-nav li { 
 	padding-right: 2em;	
}

#main-nav strong {
	color: white;
}

/* ------------------------ TREE --------------- */

#tree {
clear: both;
 padding-top: 0.2em;
 padding-bottom: 0.2em;
 margin-bottom: 1em;

 border-top: 1px solid #EEE;
 font-size: 70%;
 color: #888;
}

#tree a:link, #tree a:visited{
   color: #88F;
   text-decoration: none;
   }
#tree a:hover {
  text-decoration: underline;
  color: blue;
  background: white;
}


/* ----------------------------------------- CONTENTS ---------------------*/
#contents {
	font-family: "facitweb-1","facitweb-2", Helvetica, arial, sans-serif;
    padding-bottom: 0px;
    margin: 0px;
min-height: 450px;
}

#contents p {
	font-family: "facitweb-1","facitweb-2", Helvetica, arial, sans-serif;
	font-weight: lighter;
	font-size: 100%;
}


/** ----------- about ---------- */

#about-art h1 {
	padding-top: 1em;
	padding-bottom: 0em;
	margin-bottom: 0.5em;
}
#about-art img {
	padding-bottom: 0.5em;
}
#about-art p{
	width: 400px;
}

#about-art aside {
	float: right;
}
#about-art .social {
	padding-top: 4em;

}
#about-art .social > li {
	float: left;
	padding-right: 2em;
	font-size: 70%;
	text-align: center;
}
#about-art .social a {
	color: #ccc;
}
#about-art .social img { width: 48px;}

.orange-button {
	position: relative;
    margin: 0;
    margin-bottom: 5px;
    padding: 4px 0 4px 10px;
   
    font-weight: bold;
	 -webkit-border-radius: 10px;
	border: 1px solid #cf7100;
	background-color: orange;
	color: black;
 	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#858585), color-stop(3%, #edab5d), color-stop(50%, #ed972f), color-stop(51%, #ed8100), color-stop(97%, #ed8100), to(#c06900));
}

#blog-art h2 {
	color: orange;
	margin-top: 2em;
	font-size: 120%;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
#blog-art li {
	font-weight: lighter;
	font-size: 80%;
	list-style-type: square;
	padding-left: 0em;
	line-height: 1.3em;
}
#blog-art ul, #blog-art ol {
	padding: 1em;
}
#blog-art .article-div {
	width: 600px;
}

#blog-art .article-div p {
	font-size: 80%;
}

#pub-art li {
	list-style-type: none;
	line-height: 1.3em;
	padding-left: 2em;
}
#pub-art h3 small {
	font-weight: normal;
	color: #ccc;
}

footer,#footer {
	font-size: 70%;
	font-family: "facitweb-1","facitweb-2", Helvetica, arial, sans-serif;
	font-weight: lighter;
	color: #ddd;
	text-align: center;
}



/** -------------- PORTFOLIO **/


#portfolio-art p.intro {
	float:left; width: 30%
}

a.polaroid {
		display: block;
		text-decoration: none;
		color: #333;
		padding: 7px 7px 14px 7px;
		width: 112px;
		border: 1px solid #BFBFBF;
		background-color: white;
		z-index: 2;
		font-size: 50%;
		-webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		-moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		-webkit-transition: -webkit-transform 0.5s ease-in;
	}
	a.polaroid:hover,
	a.polaroid:focus,
	a.polaroid:active {
				cursor: pointer;
		z-index: 999;
		border-color: #6A6A6A;
		-webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		-moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);

	}
	.polaroid img {
		margin: 0 0 10px;
		width: 112px;
		
	}

	.polaroid a img {
		border: none;
		display: block;
	}

	.photo-album {
		position: relative;
		width: 80%;
		margin: 0 auto;
		max-width: 70em;
		height: 380px;
		margin-top: 1em;
		min-width: 600px;
		max-width: 600px;
	}
	
	#portfolio-art .withintro {
		margin-left: 300px;
	}
	
	.photo-album .polaroid {
		position: absolute;
	}
	.photo-album h1 {
		position: absolute;
		z-index: 5;
		top: 150px;
		text-align: center;
		width: 100%;
		line-height: 1.9;
	}
	.photo-album h1 span {
		background-color: white;
		font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
		padding: 0.4em 0.8em 0.3em 0.8em;
		-webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		-moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		border: 1px solid #6A6A6A;
	}
	.photo-album .small {
		width: 75px;
		padding: 6px 6px 12px 6px;
		font-size: 0.6em;
	}
	.photo-album .small img {
		width: 75px;
		height: 75px;
	}
	.photo-album .medium {
		width: 200px;
		padding: 13px 13px 26px 13px;
		font-size: 0.8em;
	}
	.photo-album .medium img {
		width: 200px;
		height: 200px;
	}
	.photo-album .large {
		width: 300px;
		padding: 20px 20px 30px 20px;
		font-size: 1em;
	}
	.photo-album .large img {
		width: 300px;
		height: 300px;
	}
	.photo-album .img1 {
		top: 30px;
		left: -10px;
		-webkit-transform: rotate(10deg);
		-moz-transform: rotate(10deg);
		transform: rotate(10deg);
	}
	.photo-album .img2 {
		top: 0px;
		left: 100px;
		-webkit-transform: rotate(-4deg);
		-moz-transform: rotate(-4deg);
		transform: rotate(-4deg);
	}
	.photo-album .img3 {
		top: -20px;
		left: 200px;
		-webkit-transform: rotate(14deg);
		-moz-transform: rotate(14deg);
		transform: rotate(14deg);
	}
	.photo-album .img4 {
		top: 0px;
		left: 300px;
		-webkit-transform: rotate(-20deg);
		-moz-transform: rotate(-20deg);
		transform: rotate(-20deg);
	}
	.photo-album .img5 {
		top: 30px;
		left: 430px;
		-webkit-transform: rotate(10deg);
		-moz-transform: rotate(10deg);
		transform: rotate(10deg);
	}
	.photo-album .img6 {
		top: 180px;
		left: 0px;
		-webkit-transform: rotate(-6deg);
		-moz-transform: rotate(-6deg);
		transform: rotate(-6deg);
	}
	.photo-album .img7 {
		top:150px;
		left:140px;
		-webkit-transform: rotate(10deg);
		-moz-transform: rotate(10deg);
		transform: rotate(-10deg);
	}
	.photo-album .img8 {
		top: 180px;
		left: 250px;
		-webkit-transform: rotate(-8deg);
		-moz-transform: rotate(-8deg);
		transform: rotate(-8deg);
	}
	.photo-album .img9 {
		top: 200px;
		left: 350px;
		-webkit-transform: rotate(-28deg);
		-moz-transform: rotate(-28deg);
		transform: rotate(-28deg);
	}
	.photo-album .img10 {
		top: 200px;
		left: 450px;
		-webkit-transform: rotate(8deg);
		-moz-transform: rotate(8deg);
		transform: rotate(8deg);
	}
	.photo-album .img11 {
		top: 100px;
		left: 550px;
		-webkit-transform: rotate(-8deg);
		-moz-transform: rotate(-8deg);
		transform: rotate(-8deg);
	}
	.photo-album .img12 {
		top: 350ox;
		left: 680px;
		-webkit-transform: rotate(18deg);
		-moz-transform: rotate(18deg);
		transform: rotate(18deg);
	}
	.photo-album .img13 {
		bottom: -20px;
		right: 630px;
		-webkit-transform: rotate(4deg);
		-moz-transform: rotate(4deg);
		transform: rotate(4deg);
	}
	.photo-album .img14 {
		top: 90px;
		left: 430px;
		-webkit-transform: rotate(15deg);
		-moz-transform: rotate(15deg);
		transform: rotate(15deg);
	}
	.photo-album .img15 {
		left:176px;
		top:20px;
		-webkit-transform: rotate(-8deg);
		-moz-transform: rotate(-8deg);
		transform: rotate(-8deg);
	}

	a:hover,
	a:focus {
		z-index: 5;
	}

/* - - - - --  */
.logo-big {
	float:left;
	width:128px;
	padding-top: 1em;
	padding-right: 1em;
}
.app-detail ul { padding: 1em;}
.app-detail li {list-style-type: square;
	color:#666;}

p.only-spanish {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		font-size: 60% !important;
		color: #EBB;
	}



