/* VARIABLE COLORS */
:root {
  --color-principal: #1D3156;
  --color-secondary: #FFC410;
  --color-body: 	 #1D3156;
  --color-hover:   	 #ffffff;
  --color-text:      #ffc100;
  --color-rodona: 	 #ffffff;
}

body {
	/*background-color: var(--color-body);*/
	margin: 0;
/* Exercici 1.e Guió de treball 4 */
	background-image: url(space1.png);
	background-position: left top;
    background-repeat: repeat;
    /* Exercici 1.h Guió de treball 4 */
    font-family: 'Orbitron', sans-serif;
}

/****************/
/*    HEADER	*/
/****************/
.container {
	max-width: 1700px;
	margin: 0 auto;
}


/****************/
/*     MENU 	*/
/****************/

.navbar, .footer{

	max-width: 1700px;
	vertical-align: middle;
	text-align:center;
	border: 1px solid var(--color-secondary);
	background-color: var(--color-secondary);
}
.navbar > a{
	display: inline-block;
	margin: 10px;
	color: var(--color-body);
	text-decoration: none;
	font-weight: bold;
}
.navbar > a:hover {
	color: var(--color-hover);	
	background-color: var(--color-principal);
/* Exercici 1.a Guió de treball 4 */
	border-radius: 25% 25%;
}


@media screen and (max-width: 550px) {
	#menu-principal ul li{
		width: 100%;
	}
}


/****************/
/*    CONTENT	*/
/****************/

#content-principal {
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.content {
	width: 70%;
	margin: 20px auto;
}

.text-title {
	color: var(--color-secondary);
	text-align: center;
}

.content-inf--text{
	text-align: justify;
	color: var(--color-text);
}

.social-media {
	background-color: transparent;	
	margin: 20px auto;
}
.twitter {
/* Exercici 1.b Guió de treball 4 */
	border-radius: 50% 0%;
}

.facebook-like {
	margin-right: 25px;
	background-color: white;
	border-radius: ;
}

.ombra {
	text-shadow: 2px 2px darkblue;
}

.footer {
	background-color: #fafafa
}


